<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css"> 
    <title><%= feat.name %> Details</title>
</head>
<body>
    <header>
        <h1><%= feat.name %> Details</h1>
    </header>
    <div class="container">
        <h1><%= feat.name %></h1>
        <p><strong>Level:</strong> <%= feat.level %></p>
        <p><strong>Description:</strong> <%= feat.desc %></p>
    </div>
</body>
</html>


